{% extends "base.html" %}
{% load static %}

{% block content %}
	<body>
		<img class="contact-picture" src="{% static 'FLAGPNG/contact-us-area.png' %}" width="100%">
		<img class="phone" src="{% static 'FLAGPNG/phone-contact.png' %}"	>
		<img class="email" src="{% static 'FLAGPNG/email-contact.png' %}"	>
		<section class="about-section about-container">
    	</section>

    	<!--img class="about-backdrop" src="https://i.ibb.co/pnMWz0N/script-pic.png" -->

	</body>

{% endblock %}